body {
    background: #BDBDBD;
    margin: 0;
}

div {
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: auto;
}

header {
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

.post {
    background: white;
    margin-top: 10px;
}

.post img {
    width: 100%;
}

.post h2, p {
    padding: 10px;
    margin: 0;
}

.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align: right;
    color: gray;
}